.DS_Store

### VS Code ###
.vscode/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Google Cloud ###
github-deploy-key.json
primefocus-workflow-*.json

### Firebase CLI ###
firebase-debug.log
.firebase/
